/* navbar styling */
.navbar {
  width: 100%;
  z-index: 999;
  padding: 15px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.navbar.blue {
  background-color: rgb(70, 158, 180);
}

.navbar.sticky {
  padding: 15px 0;
  background: rgb(70, 158, 180);
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: #fff;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: #fff;
}

.navbar.scroll .logo a span {
  background-color: #fff;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.home-page .navbar .menu li a {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: rgb(208, 222, 230);
}

.navbar.sticky .menu li a:hover {
  color: #fff;
}

.navbar.scroll {
  background-color: rgb(70, 158, 180);
}

/* .home-page .navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
} */
.home-page .navbar {
  position: fixed;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}
.navbar.blue {
  background-color: rgb(70, 158, 180);
    padding: 7px 0;
    /* margin-bottom: 2px; */

}

/* Add the following styles to adjust margin on different pages */
.navbar.blue .menu li a {
  margin-top: 10px;
}

.home-page .navbar.sticky .menu li a {
  margin-top: 10px;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .navbar .menu {
    display: none;
  }

  .navbar .menu.open {
    display: block;
  }

  .navbar .menu li {
    display: block;
    margin-top: 10px;
  }

  .navbar .menu li a {
    margin-left: 0;
  }

  .navbar .menu-icon {
    display: block;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.responsive {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #158192;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.responsive:hover {
  background-color: #2ac2d7;
}

@media screen and (max-width: 950px) {
  .responsive {
    display: block;
  }

  .navigation-menu ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: white;
    border-top: 1px solid black;
    display: none;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    background-color: #eee;
  }

  .navigation-menu.expanded ul {
    display: block;
  }
}

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: rgb(20, 147, 220);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* Add the following styles to show the expanded menu vertically */
.navigation-menu.expanded .menu {
  display: block;
}

.navigation-menu.expanded ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #097487;
  border-top: 1px solid black;
}

.navigation-menu.expanded li {
  text-align: center;
  margin: 0;
}

.navigation-menu.expanded li a {
  color: black;
  width: 100%;
  padding: 1.5rem 0;
}

.navigation-menu.expanded li:hover {
  background-color: rgb(181, 209, 235);
}
/* Additional Styles for Less than 200px Width */
@media (max-width: 950px) {
  .responsive {
    right: 10px;
  }

  .navigation-menu ul {
    top: 40px;
    height: calc(100vh - 40px);
  }

  .navigation-menu.expanded ul {
    top: 40px;
    height: calc(100vh - 40px);
  }
}


@media (max-width: 550px) {
  .responsive {
    display: block;
  }
}
/* Styles for the secondary button
button.responsive.secondary {
  margin-top: 0;
  margin-right: 5px;
} */
